@model _2106Proj.Models.InterpreterJob

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/toolbar.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/js/editor.js"></script>

<h2>Create</h2>

<h4>InterpreterJob</h4>
<hr />
<div class="row">
    <div class="col-md-12" style="position:relative">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Document Name</label>
                <input id="DocumentName" class="form-control" size="35" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <ul id="toolbar" onclick="addText(event)">
                    <li id="bold"><img src="~/images/toolbar/Bold.png"></li>
                    <li id="italic"><img src="~/images/toolbar/Italic.png"></li>
                    <li id="underline"><img src="~/images/toolbar/Underline.png"></li>
                    <li id="strikethrough"><img src="~/images/toolbar/Strikeout.png"></li>
                    <li id="redtext"><img src="~/images/toolbar/RedText.png"></li>
                    <li id="highlight"><img src="~/images/toolbar/Highlight.png"></li>
                    <li id="alignleft"><img src="~/images/toolbar/AlignLeft.png"></li>
                    <li id="aligncenter"><img src="~/images/toolbar/AlignCenter.png"></li>
                    <li id="alignright"><img src="~/images/toolbar/AlignRight.png"></li>
                    <li id="unorderedlist"><img src="~/images/toolbar/UnorderedList.png"></li>
                    <li id="orderedlist"><img src="~/images/toolbar/OrderedList.png"></li>
                </ul>
                <textarea id="tooltest" style="width:100%;" rows="50" asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
